*{
    margin: 0px;
    padding: 0px;
    font-family: "Times New Roman", serif}

nav {

    background: linear-gradient(#e8ecd0, #d8e6cf, #c9ded2, #a4ced5);;
    width: 100%;
    margin: 0px auto 40px auto;
    position: sticky;
    top: 0px;
}

nav ul{
    list-style-type: none;
}

nav li{
    float: left;
    width: 25%;
    text-align: center;
}


nav ul::after{
    content: "";
    display: table;
    clear: both;
}

nav a{
    display: block;
    text-decoration: none;
    color: #fffafa;
    border-bottom: 2px solid transparent;
    padding: 10px 0px;
}

nav a:hover{
    color: #367a80;
    border-bottom: 2px solid #469da5;
}

.conteneur{
    margin: 0px 20px;
    height: 1500px;
}

#principal{
    position: relative;
    background-image: url("../images/enveloppe.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    padding-top: 56%;

}

div button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px 20px;
    background-color: #b01b1b;
    color: white;
    border: none;
    border-radius: 20px;
    font-size: 16px;
}

#rogner {
    width: 200px;
    height: 150px;
    overflow: hidden;
}

#logo {
    margin-top: -50px;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#autre1, #autre2, #autre3 {
    margin-top: 50px;
}